# dependencies
/node_modules
/functions/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist
/functions/lib

# misc
.DS_Store
.env
.env.local
.env.development
.env.test
.env.production
*.log
serviceaccount.json

# IDE
.idea/
.vscode/
*.swp
*.swo

# Firebase
.firebase/
firebase-debug.log
